body, html{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Manrope;
  font-size: 13px;
}
body{
  display:flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  background-color: #edf2f8;
  color: #47556f;
  font-weight: 500;
}

h1{
  font-weight: 700;
}

.flex-container{
  display: flex;
}


/* overall card layout */
.card{
  height: 250px;
  width: 700px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.card img{
  height: 250px;
  width: 250px;
}
/* .text-content > *{
  margin: 24px 42px;
} */

.text-content{
    padding: 24px 42px;
}

/* Contact info and share button position */
.person{
}

.person img{
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.person-info{
  margin-left: 10px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

h6{
  margin:5px 0 5px 0; 
}
.date{
  font-weight: normal;
}

/* aligning and stylign share button */
.person-share {
  position: relative;
  background-color: #000;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-top: 5px;
}

.person svg{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

